img {
  width: 15rem;
}
body {
  background-image: url("../img/cactus.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

.nav-link:hover {
  color: green;
}
.iconos a {
  text-decoration: none;
}

.nav-link {
  margin-left: 2.5rem;
}

h1 {
  color: rgb(8, 8, 8);
  font-size: 5rem;
}
p {
  color: rgb(7, 7, 7);
}
.boton:hover {
  transform: scale(1.2);
}

.iconos svg {
  color: rgb(8, 8, 8);
}
.iconos svg:hover {
  transform: scale(1.2);
}

.iconos a {
  margin-left: 1.5rem;
}
